.body{
    -fx-background: #042d96;
}

.voice-maker-label {
    -fx-font-size: 25px;
    -fx-fill-width: bold;
    -fx-padding: 10px;
    -fx-font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.text-area{
    -fx-font-size: 16px;
    -fx-control-inner-background: #20e7e3;

}

.setting-Label{
    -fx-font-size: 16px;
    -fx-font-weight: bold;

}

.setting-combo-box{
    -fx-font-size: 16px;
    -fx-control-inner-background: #20e7e3;
    -fx-background: #042d96;

}

.speak-button{
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #f5824a;
    -fx-text-fill: white;
    -fx-padding: 0;

}

.speak-button:pressed{
    -fx-opacity: 0.75;
}